/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* styline-diable*/
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
/*styline-enable*/

/*
base font-size: 19px
base line-height: 24px
https://www.modularscale.com/?24&px&1.067
*/


}
html{
  line-height: 1.375em; /* 24/ 16  = 1.383*/
  font-family: 'Didot',serif;
  font-size: 1.296em; /* 24/16 = 1.215*/
  color: #C60701;
  border-radius: 30px;
}
body{
  background:  #909090;
}
h1 {
  font-size:1.575em; /*24/16 = 1.575 */
  line-height: 1.507814;
  color: #222;
  text-align: center;

}

//forms
input,label {
  align-items: flex-end;
  justify-content: space-around;
}

form li {
  display: flex;
  align-items: flex-end;
justify-content: space-evenly;
color: #222;
  /*align-items: center;*/
}

#flex{
  display: flex;
  background-color: #E54843;
  /*justify-content: space-evenly; */
  flex-direction:column;
  border-radius: 30px;
  padding: 1.2em;
  padding-bottom: 1.2em;
}
#about{
  /* Color Scheme */
  color: #222;
  background-color: #E54843;
  border-radius: 30px;
  padding:1.2em;
}

/* moving sign up button to bottom of flex*/

input[type="submit"]{
}


}
