/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* styline-diable*/
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
/*styline-enable*/

/*
base font-size: 19px
base line-height: 22px
https://www.modularscale.com/?19&px&1.067
*/


}
html{
  background: #f5f5dc;
  line-height: 1.375em; /* 22/ 16  = 1.375*/
  font-family: 'Didot',serif;
}

h1 {
  font-size:1.618em;
  line-height: 1.507814;
}

//forms

input,label {
  display: block;
  align-items: flex-end;
  justify-content: space-around;
}

form li {
  display: flex;
justify-content: space-evenly;
  /*align-items: center;*/
}

#flex{
  display: flex;
  background-color: yellow;
  /*justify-content: space-evenly; */
  flex-direction:column;
}
#header{
}

/* moving sign up button to bottom of flex*/

input[type="submit"]{
  display:
}

@media screen and (min-width: 820px){
  #info{
    display: grid;
  }

@media screen and (max-width: 520px){

}
