/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* styline-diable*/
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
/*styline-enable*/

/*
base font-size: 19px
base line-height: 22px
https://www.modularscale.com/?19&px&1.067
*/


}
html{
  line-height: 1.375em; /* 22/ 16  = 1.375*/
  font-family: 'Didot',serif;
  font-size: 1.215em; /* 20.73/16 = 1.215*/
  color: #C60701;
}
body{
  background:  #222;
}
h1 {
  font-size:1.618em;
  line-height: 1.507814;
  color: #C60701;
  text-align: center;

}

//forms
input,label {
  align-items: flex-end;
  justify-content: space-around;
}

form li {
  display: flex;
  align-items: flex-end;
justify-content: space-evenly;
color: #C60701;
  /*align-items: center;*/
}

#flex{
  display: flex;
  background-color: #CFD99C;
  /*justify-content: space-evenly; */
  flex-direction:column;
}
#about{
  /* Color Scheme */
  color: #E54843;
  background-color: #CFD99C;
}

/* moving sign up button to bottom of flex*/

input[type="submit"]{
}

@media screen and (min-width: 820px){
  #info{
    display: grid;
  }

@media screen and (max-width: 520px){
}
